<% include partials/header %>

<div class="container">
    <div class="row">
    <% if (search_result != null && search_result.length > 0) {%>
    <p><%= count %> Contacts found</p>
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Middle Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="searchQuery">
                
                <% console.log("view : " + search_result[0].fname); %>
                <% console.log("query : " + search_query); %>
                <% var editvar = null;  %>
                <% for(r of search_result) { %>
                <tr>
                    <td>
                        <%= r.contact_id %>
                    </td>
                    <td>
                        <%= r.fname %>
                    </td>
                    <td>
                        <%= r.mname %>
                    </td>
                    <td>
                        <%= r.lname %>
                    </td>
                    <td><a href="/addpage?edit=<%= r.contact_id %>" class="btn btn-sm btn-success" id="editButton">Edit</a>
                            <a href="/delete/<%= r.contact_id %>" class="btn btn-sm btn-danger" id="deleteButton">Delete</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <% } %>
    </div>
</div>

<% include partials/footer %>