<% include partials/header %>

<div class="container">
    <div class="jumbotron-fluid">
        <h1>Contact Manager</h1>
        <form action="/" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="search" id="searchValue" required>
            </div>
            <div>
                <button type="submit" class="btn btn-default" id="searchbutton">Search</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createContactModal" data-whatever="@mdo">Create New Contact</button>
    </div>
    <br/>
    <% include add_contact %>
    <div class="row">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Middle Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="searchQuery">
            <% if (result != null && result.length > 0) {%>
            <% console.log("view : " + result[0].fname); %>
            <% var editvar = null;  %>
            <% result.forEach((r, index) => { %>
                    <tr>
                        <% console.log("view 2: " + JSON.stringify(r)); %>
                        <td><%= r.contact_id %></td>
                        <td><%= r.fname %></td>
                        <td><%= r.mname %></td>
                        <td><%= r.lname %></td>
                        <td><button href="/edit/<%= r.contact_id %>" value="<%= JSON.stringify(r) %>" class="btn btn-sm btn-success" id="editButton" data-toggle="modal" data-target="#editContactModal" data-whatever="@mdo">Edit</button>
                            <a href="/delete/<%= r.contact_id %>" class="btn btn-sm btn-danger" id="deleteButton">Delete</a></td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <% } else { %>
            <p>No Contacts found</p>
        <% } %>
    </div>
</div>

<% include partials/footer %>